.container {
  width: 100%;
  height: 100%;
  background-color: #f0eff5;
  position: relative;
  .list{
    &>div{
      &>div{
        &>div{
          &>div:nth-of-type(1){
            font-size: 30px;
            color: rgb(132,132,132);
          }
          &>div:nth-of-type(2){
            flex-basis:65%;
            white-space:normal;
            font-size: 30px;
            color: rgb(51,51,51);
          }
        }
      }
    }

    background-color: tan;
  }
}
.box{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 1.12rem;
  right: 0;
  overflow: auto;
  -webkit-overflow-scrolling:touch;
}
.separate {
  width: 100%;
  height: 23px;
}
.lastSeparate {
  width: 100%;
  height: 224px;
}
.btn {
  position: absolute;
  bottom: 0;
  left:0;
  right: 0;
  border-radius: 0;
  color: #fff;
  background-color: #d51323;
}
.section1 {
  padding: 28px 0 12px 0.4rem;
  font-size: 24px;
  color: #808080;
}
.head {
  padding: 40px 0.4rem 0;
  background-color: #ffffff;
  P{
    font-size: 28px;
    color: #848484;
    padding-bottom: 33px;
    //background-color: #f6777a;
    span {
      padding-left: 28px;
      color: #000;
    }
  }
}
