.list{
  width: 100%;
  height: 235px;
  padding: 20px;
}
.head {
   width: 100%;
   height: 55px;
   //background-color: blue;
   div:first-child {
     height: 37px;
     width: 80px;
     background-color: #fee2e4;
     border-radius: 5px;
     float: left;
     margin-top: 9px;
     p{
       line-height: 37px;
       font-size: 21px;
       color: #f16f76;
     }
   }
   div:nth-child(2) {
     padding-left: 13px;
     float: left;
     height: 55px;
     width: 62%;
     white-space: nowrap;
     //background-color: #00aaff;
     p{
       line-height: 55px;
       font-size: 29px;
       overflow: hidden;
       text-overflow: ellipsis;
       text-align: left;
     }
   }
   div:last-of-type {
     float: right;
   }
}
.mid {
   width: 100%;
   height: 40px;
   //background-color: #00aaff;
   margin-top: 29px;
  div:first-child {
    //background-color: rebeccapurple;
    float: left;
    p{
      font-size: 40px;
      color: #f0323c;
      .lastCharacter{
        font-size: 25px;
      }
    }
  }
  div:last-of-type {
    margin-left: 60%;
    //background-color: #f6777a;
    p {
      color: #000000;
      font-size: 25px;
      line-height: 40px;
      text-align: left;
      //padding-left: 220px;
    }
  }
}
.last {
  width: 100%;
  height: 28px;
  //background-color: #00aaff;
  margin-top: 18px;
  div:first-child {
    float: left;
    p {
      font-size: 25px;
      color: #b5b5b5;
    }
  }
  div:last-of-type {
    margin-left: 60%;
    //background-color: #f6777a;
    p {
      color: #000000;
      font-size: 25px;
      line-height: 28px;
      text-align: left;
      //padding-left: 220px;
    }
  }
}
